body {
  font-family: Arial, sans-serif;
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode {
  background-color: #121212;
  color: #e0e0e0;
}

.light-mode {
  background-color: #ffffff;
  color: #000000;
}

header, footer {
  transition: background-color 0.3s, color 0.3s;
}

.dark-mode header, .dark-mode footer {
  background-color: #333;
  color: #e0e0e0;
}

.light-mode header, .light-mode footer {
  background-color: #f8f9fa;
  color: #000000;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.post, .comment {
  border-bottom: 1px solid #ccc;
  padding: 10px 0;
  transition: background-color 0.3s, color 0.3s;
}

.light-mode .post, .light-mode .comment {
  background-color: #ffffff;
  color: #000000;
}

.dark-mode .post, .dark-mode .comment {
  background-color: #1e1e1e;
  color: #e0e0e0;
}

button {
  padding: 10px 20px;
  background-color: #76148a;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #311736;
}

.dark-mode button {
  background-color: #76148a;
  color: #fff;
}

.dark-mode button:hover {
  background-color: #311736;
}

#login-container, #signup-container {
  transition: opacity 0.5s;
}

.d-none {
  display: none;
}
